@font-face { font-family: "iconfont"; src: url("../fonts/iconfont.eot?t=1475138525");
  /* IE9*/
src: url("../fonts/iconfont.eot?t=1475138525#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1475138525") format("woff"), url("../fonts/iconfont.ttf?t=1475138525") format("truetype"), url("../fonts/iconfont.svg?t=1475138525#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.icon-weixin:before { content: "\e601"; }

.icon-qq:before { content: "\e602"; }

.icon-xinlang:before { content: "\e603"; }

.icon-jiantou:before { content: "\e611"; }

.icon-yingyongfanbai:before { content: "\e60c"; }

.icon-jiantou1:before { content: "\e613"; }

.icon-keji:before { content: "\e612"; }

.icon-fenxiang:before { content: "\e600"; }

.icon-dianhua:before { content: "\e604"; }

.icon-chanpin:before { content: "\e614"; }

.icon-huidingbu:before { content: "\e616"; }

.icon-zhuanli:before { content: "\e60d"; }

.icon-1:before { content: "\e605"; }

.icon-2:before { content: "\e606"; }

.icon-3:before { content: "\e607"; }

.icon-xiangmujingyan:before { content: "\e60e"; }

.icon-xianhuotianran:before { content: "\e60f"; }

.icon-fenlei1:before { content: "\e609"; }

.icon-dianhua-copy:before { content: "\e60a"; }

.icon-huxilv:before { content: "\e610"; }

.icon-tianjiajia:before { content: "\e608"; }

.icon-shouye-copy:before { content: "\e60b"; }

.icon-ziti:before { content: "\e615"; }

.lr1 { overflow: hidden; text-overflow: ellipsis; -ms-text-overflow: ellipsis; white-space: nowrap; }

.lr2 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }

.lr3 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; }

.lr4 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; }

.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

ul, ol { list-style: none; padding: 0; margin: 0; }

.mui-content { background: #fff; }

h4, h5, h6 { margin: 0; color: #000; font-weight: normal; }

#offCanvasSide { background: #0075c2; }

.huibtn { color: #858585; font-weight: bold; }

.tit { text-align: left; }
.tit img { height: 30px; vertical-align: middle; }

.foot { background: #1d1e1e; }
.foot a { color: #ababab; }

.mui-bar-tab .mui-tab-item.mui-active { color: #fff; }

.inban { text-align: right; padding-right: 22px; bottom: 2px; }
.inban .mui-indicator { background: none; border-color: #957b7b; margin: 1px 3px; }
.inban .mui-active { border: 2px solid #0075c2; background: #fff; width: 8px; height: 8px; }

.zdf_zhz { position: relative; padding: 80px 8px 30px; }
.zdf_zhz .zhz_tit { width: 100%; height: 90px; text-align: center; padding-top: 20px; position: absolute; top: 0; left: 0; }
.zdf_zhz .zhz_tit img { height: 100%; }
.zdf_zhz h4 { display: table; height: 43px; color: #fff; background: #0377ba; margin: 0; font-size: 12px; text-align: center; padding: 0 8px; }
.zdf_zhz h4 span { display: table-cell; vertical-align: middle; line-height: 15px; }
.zdf_zhz li { overflow: hidden; }
.zdf_zhz li img { width: 100%; display: block; }
.zdf_zhz .zhzt_le { float: left; width: 47%; }
.zdf_zhz .zhzt_le li { margin-bottom: 10px; }
.zdf_zhz .zhzt_le li h4 { width: 100%; }
.zdf_zhz .zhzt_ri { float: right; margin-top: 15%; width: 50%; }
.zdf_zhz .zhzt_ri li { margin-bottom: 10px; }
.zdf_zhz .zhzt_ri li h4 { width: 100%; }

.zdf_sw .sw_sj { width: 100%; overflow: hidden; }
.zdf_sw .sw_sj img { width: 100%; display: block; }
.zdf_sw .sw_rx { background: #e5004f; height: 45px; }
.zdf_sw .sw_rx .rx_le { float: left; width: 133px; border-right: 1px solid #e6145c; text-align: center; padding: 7px 0; }
.zdf_sw .sw_rx .rx_le h5 { font-size: 16px; color: #fff; }
.zdf_sw .sw_rx .rx_le h6 { font-size: 10px; color: #fff; }
.zdf_sw .sw_rx .rx_ri { float: left; width: 185px; padding-left: 28px; color: #fff; border-left: 1px solid #da004b; height: 44px;}
.zdf_sw .sw_rx .rx_ri h4 { font-size: 18px; line-height: 44px; margin: 0; color: #fff; }
.zdf_sw .sw_rx .rx_ri i { padding-right: 8px; }

.zdf_sj { padding: 30px 0 30px; margin-bottom: 35px; border-bottom: 1px solid #f5f5f5; }
.zdf_sj h5 { text-align: center; font-size: 18px; color: #353535; margin-bottom: 10px; }
.zdf_sj p { color: #9e9e9e; font-size: 14px; line-height: 20px; text-align: center; padding: 0 15px; }
.zdf_sj .sj_tub { width: 100%; overflow: hidden; margin-top: 20px; }
.zdf_sj .sj_tub img { width: 100%; }

.zdf_xuey { padding-bottom: 35px; }
.zdf_xuey .xuey_tit { text-align: center; background: url(../images/xueybg.png) no-repeat; background-size: 100% auto; padding-bottom: 19px; }
.zdf_xuey .xuey_tit h4 { font-size: 18px; color: #000; line-height: 22px; }
.zdf_xuey .xuey_tit h4 span { font-size: 24px; color: #e5004f; font-weight: bold; }
.zdf_xuey .xuey_tit h5 { font-size: 18px; color: #000; line-height: 22px; }
.zdf_xuey .xuey_tit h5 span { color: #e5004f; font-weight: bold; }
.zdf_xuey .xuey_tit h6 { font-size: 10px; color: #000; transform: scale(0.5);}
.zdf_xuey ul { padding: 0 9px; margin-top: 20px; }
.zdf_xuey ul li { float: left; width: 48%; }
.zdf_xuey ul li .xuey_img { overflow: hidden; }
.zdf_xuey ul li .xuey_img img { width: 100%; display: block; }
.zdf_xuey ul li .xuey_js { text-align: center; }
.zdf_xuey ul li .xuey_js h5 { font-size: 14px; margin: 10px 0 5px; }
.zdf_xuey ul li .xuey_js p { font-size: 12px; color: #7f7f7f; padding: 0 7px; line-height: 14px; }
.zdf_xuey ul .xue_le { margin-right: 4%; }

.fuyong { background: url(../images/fuyong01.jpg) no-repeat; background-size: 100% 100%; text-align: center; padding: 5% 0; }
.fuyong h5 { color: #cce1f0; font-size: 14px; margin-bottom: 1%; }
.fuyong h4 { color: #fff; font-size: 18px; margin-top: 4%; font-weight: bold; }

.zdf_bingfa { padding: 30px 31px 20px; }
.zdf_bingfa ul li { float: left; display: table; width: 33%; height: 74px; text-align: center; background: #0062a7; font-size: 12px; color: #fff; }
.zdf_bingfa ul li span { display: table-cell; vertical-align: middle; }
.zdf_bingfa ul li img { width: 100%; height: 74px; display: block; }
.zdf_bingfa ul .binglast { width: 66%; background: #005aa0; padding: 0 8%; }
.zdf_bingfa .bingmore { display: block; margin: 10px auto 0; color: #fff; width: 100px; height: 26px; line-height: 26px; border: 1px solid #c1114e; background: #e81960; font-size: 12px; border-radius: 15px 15px; text-align: center; }
.zdf_bingfa .bingmore i { font-size: 12px; }

.chanp .mui-slider-item { background: #f4f5f6; padding: 33px 30px 13px 20px; }
.chanp .chanp_img { float: left; width: 146px; height: 197px; overflow: hidden; }
.chanp .chanp_js { margin-left: 156px; margin-top: 30px; }
.chanp .chanp_js .chanp_bt { height: 40px; border-top: 1px solid #e1e2e3; border-bottom: 1px solid #e1e2e3; color: #353535; padding-top: 8px; }
.chanp .chanp_js .chanp_bt h5 { font-size: 14px; text-align: center; }
.chanp .chanp_js .chanp_bt p { font-size: 14px; transform: scale(0.6); -webkit-transform-origin-x: 0; width: 200px; }
.chanp .chanp_js .chamore, .chanp .chanp_js .chanpmore { display: block; width: 98px; height: 26px; line-height: 26px; color: #fff; font-size: 12px; text-align: center; border: 1px solid #fff; border-radius: 15px 15px; margin: 0 auto; }
.chanp .chanp_js .chamore i, .chanp .chanp_js .chanpmore i { color: #fff; font-size: 12px; }
.chanp .chanp_js .chamore { background: #0075c2; border-color: #0063a4; margin: 26px auto 5px; }
.chanp .chanp_js .chanpmore { background: #e81960; border-color: #c1114e; }
.chanp .inban { text-align: center; padding-right: 0; }

.zdf_tit { text-align: center; color: #000; }
.zdf_tit h4 { font-size: 18px; font-weight: bold; }
.zdf_tit p { font-size: 14px; transform: scale(0.5); color: #000; margin-top: -4px; }

.zdf_qingd { padding: 25px 9px 15px; border-bottom: 1px solid #f3f3f3; }
.zdf_qingd .qingd_ma li { float: left; }
.zdf_qingd .qingd_ma li:nth-child(1) { float: none; margin: 0 auto 30px; }
.zdf_qingd .qingd_ma li:nth-child(1) img { display: block; width: 80%; margin: 0 auto; }
.zdf_qingd .qingd_ma li:nth-child(2), .zdf_qingd .qingd_ma li:nth-child(3), .zdf_qingd .qingd_ma li:nth-child(4) { width: 50%; overflow: hidden; }
.zdf_qingd .qingd_ma li:nth-child(2) img, .zdf_qingd .qingd_ma li:nth-child(3) img, .zdf_qingd .qingd_ma li:nth-child(4) img { width: 100%; }
.zdf_qingd .qingd_ma li:nth-child(2) i, .zdf_qingd .qingd_ma li:nth-child(3) i, .zdf_qingd .qingd_ma li:nth-child(4) i { float: left; color: #e81960; margin-top: 1px; }
.zdf_qingd .qingd_ma li:nth-child(2) span, .zdf_qingd .qingd_ma li:nth-child(3) span, .zdf_qingd .qingd_ma li:nth-child(4) span { font-size: 12px; color: #353535; width: 88%; float: left; margin-left: 2px; }
.zdf_qingd .qingd_ma li:nth-child(3) { width: 50%; }
.zdf_qingd .qingd_ma li:nth-child(3) img { width: 100%; }
.zdf_qingd .qingd_ma li:nth-child(4) { float: none; margin: 0 auto; }

.zdf_yous { padding-top: 30px; }
.zdf_yous .zdf_tit { text-align: center; }
.zdf_yous .zdf_tit h4 { font-weight: normal; }
.zdf_yous .yous_ma li { float: left; padding: 18px 0; width: 28%; height: 130px; margin-left: 4%; margin-bottom: 10px; background: #f4f5f6; }
.zdf_yous .yous_ma li .yous_img { width: 50px; height: 50px; margin: 0 auto 10px; border: 1px solid #9a9b9c; border-radius: 50%; text-align: center; line-height: 46px; }
.zdf_yous .yous_ma li .yous_img i { font-size: 26px; color: #0276c2; }
.zdf_yous .yous_ma li span { display: block; margin: 0 auto; text-align: center; font-size: 14px; color: #000; width: 65px; line-height: 16px; }
.zdf_yous .yous_do { height: 36px; background: #f4f5f6; padding-top: 4px; border-bottom: 1px solid #e2e1e2; border-top: 1px solid #e2e1e2; }

.youspmore { display: block; margin: 0 auto; color: #fff; width: 100px; height: 26px; line-height: 26px; border: 1px solid #c1114e; background: #e81960; font-size: 12px; border-radius: 15px 15px; text-align: center; }
.youspmore i { font-size: 12px; }

.zdf_new .zdf_tit { height: 87px; padding-top: 29px; background: #fff; }
.zdf_new .newma { padding: 22px 5px 10px; background: #f4f5f6; }
.zdf_new .newma .mui-control-item { width: 31%; margin: 0 1%; color: #fff; background: #0075c2; font-size: 14px; }
.zdf_new .newma .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active { background: #e81960; color: #fff; border: 0; }
.zdf_new .newma .mui-segmented-control.mui-scroll-wrapper .product.mui-scroll { width: 100%; }
.zdf_new .newma .newxi { padding: 22px 4px 0; }
.zdf_new .newma .newxi .newspic { width: 136px; height: 124px; overflow: hidden; float: left; }
.zdf_new .newma .newxi .newspic img { width: 100%; }
.zdf_new .newma .newxi .newsinfo { margin-left: 145px; padding-bottom: 25px; }
.zdf_new .newma .newxi .newsinfo h4 { font-size: 14px; color: #000; margin-bottom: 15px; }
.zdf_new .newma .newxi .newsinfo p { font-size: 12px; color: #545454; line-height: 18px; }
.zdf_new .newma .newxi .news_ul li { line-height: 42px; font-size: 12px; border-bottom: 1px dotted #9a9b9c; }
.zdf_new .newma .newxi .news_ul li a { color: #444545; }
.zdf_new .newma .newxi .news_ul li span { float: right; color: #555555; }
.zdf_new .newma .newxi .news_ul li span b { display: inline-block; height: 1px; width: 27px; background: #dfe0e1; vertical-align: middle; margin-right: 5px; }
.zdf_new .newma .newxi .news_ul li:last-child { border: 0; }

.mui-fullscreen .mui-segmented-control ~ .mui-slider-group, .mui-slider-group .mui-scroll { position: static; }

.fanh { color: #727272; }

.cplis { background: #f3f4f5; }

.mui-off-canvas-wrap .xbk { background: #fff; box-shadow: 0 1px 2px #ccc; }

.chanplist { padding-top: 18px; }
.chanplist .cp_main { background: #fff; }
.chanplist .cp_main .zdf_tit { padding-top: 29px; }
.chanplist .cp_main .zdf_tit h4 { color: #1e86c9; font-weight: bold; }
.chanplist .cp_main .cp_list li { float: left; width: 45%; margin: 0 2.5% 22px; }
.chanplist .cp_main .cp_list li .cplist_img img { width: 100%; display: block; }
.chanplist .cp_main .cp_list li .cplist_wen { line-height: 30px; text-align: center; color: #fff; font-size: 14px; background: #3391ce; }

.dil_to { padding: 12px 9px 0; background: #fff; }
.dil_to .dil_img { float: left; width: 75%; overflow: hidden; }
.dil_to .dil_img img { width: 100%; }
.dil_to .dil_ri { float: right; }
.dil_to .dil_ri img { float: left; width: 22px; margin-right: 5px; }
.dil_to .dil_ri h5 { float: right; font-size: 16px; width: 18px; color: #666; }

.dil_ma { background: #fff; margin-bottom: 17px; padding: 23px 9px 30px; }
.dil_ma h4 { font-size: 18px; color: #0075c2; margin-bottom: 22px; text-align: center; }
.dil_ma h5 { font-size: 14px; color: #333; margin-bottom: 15px; }
.dil_ma p { font-size: 14px; color: #666; line-height: 24px; text-indent: 2em; margin-bottom: 22px; }

.dil_do { padding: 43px 9px 40px; background: #fff; }
.dil_do h4 { font-size: 18px; color: #0075c2; text-align: center; margin-bottom: 22px; }
.dil_do p { font-size: 14px; color: #333; line-height: 20px; margin-bottom: 23px; }
.dil_do .firp { text-indent: 2em; }

.zl_tit { padding: 24px 9px 17px; }
.zl_tit h4 { font-size: 18px; color: #1e86c9; font-weight: bold; }

.zlzz_list { padding-bottom: 22px; }
.zlzz_list li { width: 45.5%; margin-left: 3%; margin-bottom: 8px; overflow: hidden; float: left; border: 1px solid #b7b6b6; }
.zlzz_list li img { width: 100%; }

.gxzy_main { background: #fff; padding: 0 9px 25px; }
.gxzy_main h4 { font-size: 18px; line-height: 52px; color: #0075c2; font-weight: bold; }
.gxzy_main img { width: 100%; }
.gxzy_main p { font-size: 12px; line-height: 20px; color: #666; margin-top: 15px; margin-bottom: 0; }

.gsjs_main { background: #fff; padding: 25px 9px; }
.gsjs_main img { width: 100%; }
.gsjs_main p { font-size: 12px; color: #666; line-height: 20px; margin: 12px 0 10px; }

.yjcg_main { padding: 10px 9px 25px; background: #fff; }
.yjcg_main p { font-size: 12px; color: #666; line-height: 20px; margin-top: 12px; margin-bottom: 0; }
.yjcg_main h4 { font-size: 18px; color: #1e86c9; font-weight: bold; line-height: 60px; }
.yjcg_main img { width: 100%; }
.yjcg_main .firp { margin-top: 0; }

.cjwt_main { padding: 26px 9px 5px; background: #fff; }
.cjwt_main h4 { font-size: 12px; color: #333; width: 100%; height: 38px; margin-bottom: 9px; padding-left: 25px; border: 1px solid #e7e7e7; line-height: 36px; background: #eee url(../images/cjwt01.png) no-repeat 6px center; background-size: 12px 12px; }
.cjwt_main .cjwt_da { width: 100%; margin-bottom: 25px; border: 1px solid #f8f8f8; background: url(../images/cjwt02.png) no-repeat 5px 7px; background-size: 14px 12px; }
.cjwt_main .cjwt_da p { padding: 2px 0 0 32px; font-size: 12px; line-height: 20px; color: #666; }

.kpzs_main .mui-card { margin: 0  0 17px 0; padding: 20px 9px 0; }
.kpzs_main .yetou h5 { font-size: 14px; color: #333; display: block; width: 100%; line-height: 18px; }
.kpzs_main .yetou p { font-size: 12px; color: #ccc; }
.kpzs_main .yetou b { font-weight: normal; padding-right: 10px; }
.kpzs_main .neir .kpzs_img { width: 100%; margin-bottom: 10px; overflow: hidden; }
.kpzs_main .neir .kpzs_img img { width: 100%; }
.kpzs_main .neir h5 { margin-bottom: 10px; font-size: 12px; color: #666; line-height: 20px; }
.kpzs_main .yejiao span { font-size: 12px; color: #333; }

.kxyj_main { padding: 20px 9px 30px; background: #fff; }
.kxyj_main p { font-size: 12px; color: #666; line-height: 20px; }
.kxyj_main ul { margin-top: 25px; }
.kxyj_main ul li { margin-bottom: 17px; padding-bottom: 11px; background: #eeeeee; position: relative; }
.kxyj_main ul li .kxyj_img { float: left; width: 83px; height: 83px; overflow: hidden; border: 1px solid #0075c2; border-radius: 50%; margin: 12px 0 0 12px; }
.kxyj_main ul li .kxyj_img img { width: 100%; }
.kxyj_main ul li .kxyj_wen { margin-left: 110px; padding: 14px 35px 0 0; }
.kxyj_main ul li .kxyj_wen h5 { font-weight: bold; font-size: 14px; color: #0075c2; margin-bottom: 5px; }
.kxyj_main ul li b { display: block; width: 20px; height: 10px; background: url(../images/kxyj05.png) no-repeat left center; background-size: 100% 100%; position: absolute; bottom: -10px; left: 45%; }

.lxwm_main { padding: 25px 9px 28px; background: #fff; }
.lxwm_main .lxwm_to h3 { font-size: 18px; color: #1e86c9; font-weight: bold; margin-bottom: 15px; }
.lxwm_main .lxwm_to h4 { font-size: 14px; color: #0075c2; margin-bottom: 20px; }
.lxwm_main .lxwm_to h4 span { padding-bottom: 7px; border-bottom: 1px solid #e5004f; }
.lxwm_main .lxwm_to ul { margin-bottom: 10px; }
.lxwm_main .lxwm_to ul li { font-size: 12px; color: #666; line-height: 20px; }
.lxwm_main .lxwm_to p { font-size: 12px; color: #333; line-height: 20px; margin-bottom: 0; }
.lxwm_main .lxwm_to h5 { font-size: 12px; color: #333; padding-top: 10px; }
.lxwm_main .lxwm_to h5 span { font-size: 16px; color: #1e86c9; font-weight: bold; }
.lxwm_main .lxwm_do { padding-top: 30px; }
.lxwm_main .lxwm_do h3 { font-size: 18px; color: #666; margin-bottom: 25px; }
.lxwm_main .lxwm_do input { width: 100%; height: 36px; border: 1px solid #f1f1f1; padding-left: 35px; color: #666; font-size: 12px; }
.lxwm_main .lxwm_do .name { background: url(../images/lxwm01.png) no-repeat 7px center; background-size: 21px 21px; }
.lxwm_main .lxwm_do .tel { background: url(../images/lxwm02.png) no-repeat 7px center; background-size: 21px 21px; }
.lxwm_main .lxwm_do .dizhi { background: url(../images/lxwm03.png) no-repeat 7px center; background-size: 21px 21px; }
.lxwm_main .lxwm_do .liuy { background: url(../images/lxwm04.png) no-repeat 7px 7px; background-size: 21px 21px; }
.lxwm_main .lxwm_do .liuy { padding-left: 35px; height: 125px; color: #666; border: 1px solid #f1f1f1; font-size: 12px; }
.lxwm_main .lxwm_do .tjbtn, .lxwm_main .lxwm_do .rest { width: 93px; height: 38px; color: #fff; font-size: 12px; border: 0; text-align: center;padding: 0; }
.lxwm_main .lxwm_do .tjbtn { background: #e5004f; }
.lxwm_main .lxwm_do .rest { background: #0075c2; }
.lxwm_main .lxwm_do .tijao { float: right; }
.lxwm_main .lxwm_do .inp { position: relative; }
.lxwm_main .lxwm_do .pa { position: absolute; top: 8px; right: 10px; width: 20px; height: 20px; display: none; }
.lxwm_main .lxwm_do .dui { background: url(../images/yes.png) no-repeat left center; }
.lxwm_main .lxwm_do .cuo { background: url(../images/no.png) no-repeat left center; }

.lcyjxq_main { background: #fff; padding: 26px 9px 25px; }
.lcyjxq_main .lcyjxq_to { margin-bottom: 10px; }
.lcyjxq_main .lcyjxq_to h4 { font-size: 18px; color: #0075c2; font-weight: bold; margin-bottom: 5px; }
.lcyjxq_main .lcyjxq_to p { font-size: 12px; color: #999; }
.lcyjxq_main .lcyjxq_to p span { padding-right: 15px; }
.lcyjxq_main .lcyjxq_ma p { font-size: 12px; color: #666; line-height: 20px; }
.lcyjxq_main .lcyjxq_ma h5 { font-size: 12px; color: #666; font-weight: bold; line-height: 20px; margin-top: 18px; }
.lcyjxq_main .lcyjxq_ma .xiad { margin-bottom: 15px; }

.qylc_main { background: #fff; padding: 40px 9px 28px; }
.qylc_main .qylc_to p { font-size: 12px; color: #666; line-height: 18px; padding-bottom: 22px; }
.qylc_main .qylc_ls01, .qylc_main .qylc_ls02, .qylc_main .qylc_ls03, .qylc_main .qylc_ls04 { border-left: 1px solid #0075c2; position: relative; margin-left: 20px; padding-left: 35px; }
.qylc_main .qylc_ls01 p, .qylc_main .qylc_ls02 p, .qylc_main .qylc_ls03 p, .qylc_main .qylc_ls04 p { margin-bottom: 0; }
.qylc_main .qylc_ls01 span, .qylc_main .qylc_ls02 span, .qylc_main .qylc_ls03 span, .qylc_main .qylc_ls04 span { display: block; background: #fff; width: 38px; height: 38px; border-radius: 50%; border: 1px solid #0075c2; position: absolute; left: -19px; top: -11px; text-align: center; line-height: 38px; font-size: 14px; color: #0075C2; }
.qylc_main .last { border: 0; }
.qylc_main .qylc_do { width: 100%; overflow: hidden; }
.qylc_main .qylc_do img { width: 100%; }

.qyyj_main { background: #fff; padding: 25px 9px 0; }
.qyyj_main .qyyj_to { padding-bottom: 20px; }
.qyyj_main .qyyj_to h4 { font-size: 18px; color: #1e86c9; font-weight: bold; margin-bottom: 15px; }
.qyyj_main .qyyj_to .qyyj_img { margin-bottom: 10px; width: 100%; overflow: hidden; }
.qyyj_main .qyyj_to .qyyj_img img { width: 100%; }
.qyyj_main .qyyj_to p { font-size: 12px; color: #666; line-height: 20px; }
.qyyj_main .qyyj_ma { padding-bottom: 5px; }
.qyyj_main .qyyj_ma h4 { font-size: 18px; color: #1e86c9; font-weight: bold; margin-bottom: 8px; }
.qyyj_main .qyyj_ma ul li { padding: 17px 0; border-bottom: 1px solid #f8f7f5; }
.qyyj_main .qyyj_ma ul li .qyyj_le { float: left; width: 53px; height: 90px; overflow: hidden; }
.qyyj_main .qyyj_ma ul li .qyyj_le img { width: 100%; }
.qyyj_main .qyyj_ma ul li .qyyj_ri { margin-left: 65px; }
.qyyj_main .qyyj_ma ul li .qyyj_ri h5 { font-size: 14px; color: #333; margin-bottom: 12px; }
.qyyj_main .qyyj_ma ul li .qyyj_ri h5 span { padding-bottom: 7px; border-bottom: 1px solid #5aa6d7; }
.qyyj_main .qyyj_ma ul li .qyyj_ri p { font-size: 12px; color: #666; line-height: 20px; }
.qyyj_main .qyyj_ma ul li:last-child { border-bottom: 0; }

.syrq_main { background: #fff; padding: 30px 0 15px; }
.syrq_main li { float: left; width: 45.5%; margin-left: 3%; }
.syrq_main li .syrq_img { width: 100%; overflow: hidden; }
.syrq_main li .syrq_img img { width: 100%; }
.syrq_main li h5 { line-height: 48px; font-size: 14px; color: #333; text-align: center; }

.lcyjxq_ma img { width: 100%; }

.kxss_main .kxss_to { background: #fff; margin-bottom: 17px; padding: 12px 9px 30px; }
.kxss_main .kxss_to .kxss_img { width: 128px; height: 130px; margin: 0 auto 15px; overflow: hidden; }
.kxss_main .kxss_to .kxss_img img { width: 100%; }
.kxss_main .kxss_to h5 { text-align: center; font-size: 18px; color: #333; }
.kxss_main .kxss_to h6 { text-align: center; margin-bottom: 10px; color: #e5004f; }
.kxss_main .kxss_to p { font-size: 12px; color: #333; line-height: 20px; text-indent: 2em; }
.kxss_main .kxss_ma { background: #fff; margin-bottom: 17px; padding: 27px 9px 25px; }
.kxss_main .kxss_ma h5 { font-size: 18px; color: #0075c2; margin-bottom: 20px; text-align: center; }
.kxss_main .kxss_ma p { font-size: 12px; color: #333; line-height: 20px; text-indent: 2em; }
.kxss_main .kxss_ma .xias { margin-bottom: 10px; }
.kxss_main .kxss_do { background: #fff; padding: 28px 9px 20px; }
.kxss_main .kxss_do h5 { font-size: 12px; color: #0075c2; text-align: center; margin-bottom: 4px; }
.kxss_main .kxss_do h4 { font-size: 18px; color: #0075c2; margin-bottom: 28px; text-align: center; }
.kxss_main .kxss_do ul li { background: #f6f6f6; padding-bottom: 18px; margin-bottom: 10px; }
.kxss_main .kxss_do ul li .lscb_img { float: left; padding: 5px 0 0 4px; width: 82px; height: 56px; }
.kxss_main .kxss_do ul li .lscb_img img { width: 100%; }
.kxss_main .kxss_do ul li .lscb_img h6 { font-size: 16px; color: #49494a; text-align: center; }
.kxss_main .kxss_do ul li p { margin-left: 92px; padding-right: 3px; font-size: 12px; color: #49494a; line-height: 20px; margin-bottom: 0; }

.qdhd_main { background: #fff; padding: 0 9px 20px; }
.qdhd_main li { padding: 32px 0 27px; border-bottom: 1px solid #f3f3f3; }
.qdhd_main li .qdhd_img { width: 100%; margin-bottom: 15px; overflow: hidden; }
.qdhd_main li .qdhd_img img { width: 100%; }
.qdhd_main li h4 { font-size: 16px; color: #333; margin-bottom: 8px; }
.qdhd_main li p { font-size: 14px; line-height: 20px; color: #666; margin-bottom: 0; }
.qdhd_main li:last-child { border-bottom: 0; }

.ylxq_main { padding: 0 9px 30px; background: #fff; }
.ylxq_main .ylxy_to { padding-top: 25px; }
.ylxq_main .ylxy_to .ylxy_img { width: 40%; float: left; margin-bottom: 15px; }
.ylxq_main .ylxy_to .ylxy_img img { width: 100%; display: block; }
.ylxq_main .ylxy_to .ylxy_name { width: 60%; margin-left: 40%; background: url(../images/ylxq02.jpg) no-repeat left center; background-size: 100% 100%; display: table; }
.ylxq_main .ylxy_to .ylxy_name .yaoname { display: table-cell; vertical-align: middle; text-align: center; }
.ylxq_main .ylxy_to .ylxy_name .yaoname p { font-size: 18px; transform: scale(0.5); color: #000; margin-bottom: -5px; margin-left: -5px; }
.ylxq_main .ylxy_to .ylxy_name .yaoname h4 { font-size: 18px; color: #000; margin-bottom: 5px; }
.ylxq_main .ylxy_to .ylxy_name .yaoname h5 { color: #0075c2; }
.ylxq_main .ylxy_to .s1 { background: url(../images/ylxq04.jpg) no-repeat left center; }
.ylxq_main .ylxy_to .s2 { background: url(../images/ylxq06.jpg) no-repeat left center; }
.ylxq_main p { font-size: 14px; color: #666; line-height: 20px; }

.zjjs_main .zjjs_to { background: #fff; padding: 26px 9px 20px; margin-bottom: 17px; }
.zjjs_main .zjjs_to h4 { font-size: 18px; color: #1e86c9; font-weight: bold; margin-bottom: 14px; }
.zjjs_main .zjjs_to p { font-size: 12px; color: #666; line-height: 20px; }
.zjjs_main .zjjs_do { padding: 26px 9px 30px; background: #fff; }
.zjjs_main .zjjs_do h4 { font-size: 18px; color: #1e86c9; font-weight: bold; margin-bottom: 14px; }
.zjjs_main .zjjs_do .zj_ms .zjjs_img { float: left; width: 50%; border: 1px solid #e1e1e1; overflow: hidden; }
.zjjs_main .zjjs_do .zj_ms .zjjs_img img { width: 100%; display: block; }
.zjjs_main .zjjs_do .zj_ms .zjjs_js { width: 50%; float: left; background: #0075C2; display: table; }
.zjjs_main .zjjs_do .zj_ms .zjjs_js .vert { display: table-cell; vertical-align: middle; text-align: center; }
.zjjs_main .zjjs_do .zj_ms .zjjs_js h5 { width: 115px; font-size: 14px; color: #fff; padding-bottom: 4px; margin: 0 auto 4px; border-bottom: 1px solid #4a9dd2; }
.zjjs_main .zjjs_do .zj_ms .zjjs_js h5 span { font-size: 12px; color: #ececec; }
.zjjs_main .zjjs_do .zj_ms .zjjs_js h6 { margin: 0 auto; width: 115px; font-size: 12px; color: #c5d4e3; text-align: right; }
.zjjs_main .zjjs_do .zj_ms .zjjs_js .zjjsmore { display: block; width: 72px; height: 20px; margin: 25px auto; text-align: center; line-height: 18px; border-radius: 10px 10px; font-size: 12px; color: #ebebeb; border: 1px solid #fff; }
.zjjs_main .zhuanb { width: 100%; position: static; text-align: left; margin-top: 25px; vertical-align: middle; }
.zjjs_main .zhuanb .mui-indicator { float: left; border: 0; border-radius: 0; margin: 0; padding: 0; height: 2px; box-shadow: none; background: #f9f9f9; }
.zjjs_main .zhuanb .mui-active { background: #1e86c9; }

.zjxq_main { background: #fff; }
.zjxq_main .zjxq_to { background: url(../images/zjxq01.jpg) no-repeat left center; width: 100%; height: 206px; padding-top: 28px; text-align: center; color: #fff; }
.zjxq_main .zjxq_to .zjtx { margin: 0 auto 15px; width: 100px; height: 100px; overflow: hidden; border: 2px solid #066db1; border-radius: 50%; }
.zjxq_main .zjxq_to .zjtx img { width: 100%; }
.zjxq_main .zjxq_to h5 { font-size: 14px; margin-bottom: 4px; color: #fff; }
.zjxq_main .zjxq_to h6 { font-size: 14px; color: #fff; }
.zjxq_main .zjxq_do { padding: 15px 9px 20px; }
.zjxq_main .zjxq_do p { font-size: 12px; color: #666; line-height: 20px; }

.cpxq_main .cpxq_to { padding: 28px 9px 20px; background: #fff; margin-bottom: 17px; }
.cpxq_main .cpxq_to .cpxq_js li { width: 100%; padding: 10px 10px 10px 5px; border-bottom: 1px solid #f0f0f0; }
.cpxq_main .cpxq_to .cpxq_js li p { line-height: 20px; font-size: 14px; color: #353535; margin-bottom: 0; }
.cpxq_main .cpxq_to .cpxq_js li:first-child { text-align: center; font-size: 18px; color: #353535; line-height: 40px; }
.cpxq_main .cpxq_to .cpxq_js .cpxq_go { font-size: 14px; color: #353535; margin-top: 25px; }
.cpxq_main .cpxq_to .cpxq_js .cpxq_go span { font-size: 24px; color: #e5004f; font-weight: bold; }
.cpxq_main .cpxq_to .cpxq_js .cpxq_go .cpxq_taob { float: right; width: 110px; height: 22px; background: #e5004f; border: 1px solid #bb0644; color: #fff; font-size: 12px; line-height: 20px; text-align: center; }
.cpxq_main .cpxq_ma { background: #fff; padding-top: 42px; }
.cpxq_main .cpxq_ma .wapa { padding: 0 9px; width: 100%; }
.cpxq_main .cpxq_ma .wapa img { width: 100%; display: block; }
.cpxq_main .cpxq_ma .malist { width: 100%; overflow: hidden; }
.cpxq_main .cpxq_ma .malist img { width: 100%; display: block; }
.cpxq_main .cpxq_ma .suijin { padding-right: 9px; }
.cpxq_main .cpxq_ma .wa01 { margin-bottom: 35px; }
.cpxq_main .cpxq_ma .wa02 { margin-bottom: 34px; }
.cpxq_main .cpxq_ma .shiy { background: #f4f5f6; }
.cpxq_main .cpxq_ma .wa03 { margin: 30px 0 10px; }
.cpxq_main .cpxq_ma .wa04 { padding: 40px 0 34px; }
.cpxq_main .cpxq_ma .wa05 { margin: 20px 0 40px; }
.cpxq_main .cpxq_ma .wa06 { margin-bottom: 17px; }

.zsjm_main .zsjmls01 img { width: 100%; }
.zsjm_main .zsjmls02 { background: #fff; border-bottom: 1px solid #e1e1e1; padding: 29px 9px 22px; }
.zsjm_main .zsjmls02 img { width: 100%; }
.zsjm_main .zsjmls03 { background: url(../images/zsjm21.jpg); padding: 20px 9px 20px; }
.zsjm_main .zsjmls03 img { width: 100%; }
.zsjm_main .zsjmls03 h5 { padding-top: 20px; font-size: 14px; color: #fff; margin-bottom: 3px; }
.zsjm_main .zsjmls03 h4 { font-size: 18px; color: #fff; margin-bottom: 8px; font-weight: bold; }
.zsjm_main .zsjmls03 h4 span { font-size: 18px; color: #e5005a; }
.zsjm_main .zsjmls03 p { font-size: 12px; color: #f4f5f5; line-height: 16px; }

.zsjm_tit { text-align: center; padding: 25px 0 15px; }
.zsjm_tit h4 { font-size: 18px; color: #000; }
.zsjm_tit h5 { color: #000; font-size: 12px; transform: scale(0.8); }

.zsjmls04 { padding: 0 9px 15px; }
.zsjmls04 li { border-top: 1px solid #e7e7e7; padding: 10px 0; }
.zsjmls04 li .scfx_img { float: left; width: 86px; height: 86px; padding: 4px; overflow: hidden; background: url(../images/zsjm08.png) no-repeat left top; background-size: 100%; }
.zsjmls04 li .scfx_img img { width: 100%; }
.zsjmls04 li .scfx_wen { margin-left: 115px; padding-top: 10px; }
.zsjmls04 li .scfx_wen h6 { font-size: 14px; color: #212121; margin-bottom: 7px; }
.zsjmls04 li .scfx_wen p { font-size: 12px; color: #212121; margin-bottom: 0; line-height: 16px; }

.zsjmls05 { background: #eff1f2; padding-bottom: 17px; }
.zsjmls05 li { float: left; width: 45.5%; height: 175px; margin-left: 3%; margin-bottom: 8px; text-align: center; background: #fafbfb; padding-bottom: 25px; }
.zsjmls05 li span { margin: 25px auto 10px; width: 35px; height: 34px; display: block; background: url(../images/zsjm09.png) no-repeat 2px top; background-size: 100% 100%; font-size: 12px; text-align: center; line-height: 34px; color: #e9e9e9; }
.zsjmls05 li h6 { font-size: 16px; color: #000; margin-bottom: 4px; }
.zsjmls05 li p { font-size: 12px; line-height: 16px; color: #212121; padding: 0 6px; }
.zsjmls05 li img { width: 100%; height: 175px; }
.zsjmls05 li:last-child { background: #eff1f2; }

.zsjmls06 { padding-bottom: 60px; background: #fff url(../images/zsjm17.jpg) no-repeat bottom center; background-size: 100% auto; }
.zsjmls06 li { width: 31%; float: left; margin: 0 0.8% 20px; text-align: center; }
.zsjmls06 li span { display: block; width: 36px; height: 36px; border: 2px solid #e30f48; border-radius: 50%; margin: 0 auto 5px; }
.zsjmls06 li b { font-size: 14px; color: #000; }
.zsjmls06 li:nth-child(1) span { background: url(../images/zsjm11.png) no-repeat center center; background-size: 22px 22px; }
.zsjmls06 li:nth-child(2) span { background: url(../images/zsjm12.png) no-repeat center center; background-size: 22px 22px; }
.zsjmls06 li:nth-child(3) span { background: url(../images/zsjm13.png) no-repeat center center; background-size: 22px 22px; }
.zsjmls06 li:nth-child(4) span { background: url(../images/zsjm14.png) no-repeat center center; background-size: 22px 22px; }
.zsjmls06 li:nth-child(5) span { background: url(../images/zsjm22.jpg) no-repeat center center; background-size: 22px 22px; }
.zsjmls06 li:nth-child(6) span { background: url(../images/zsjm16.png) no-repeat center center; background-size: 22px 22px; }

.poster-main { width: 305px; margin: 0 auto; position: relative; overflow: hidden; }

.poster-main .poster_list { width: 305px; }

.poster-main .poster-btn { position: absolute; top: 0; z-index: 10; cursor: pointer; }

.poster-main .poster-prev-btn { left: 0; background: url(../images/zsjm23.png) no-repeat center center; }

.poster-main .poster-next-btn { right: 0; background: url(../images/zsjm24.png) no-repeat center center; }

.poster-main .poster-list .poster-item { position: absolute; left: 0; top: 0; }

.poster-main img { display: block; }

.zsjmls07 { background: #eff1f2; padding-bottom: 15px; }
.zsjmls07 .B_Demo li { background: #fff; }
.zsjmls07 .B_Demo h4 { width: 190px; line-height: 26px; font-size: 12px; color: #4d4d4d; border-bottom: 1px solid #f9bed2; margin-bottom: 5px; overflow: hidden; }
.zsjmls07 .B_Demo h4 i { float: left; padding-left: 4px; font-style: normal; margin-right: 20px; }
.zsjmls07 .B_Demo h4 span { float: left; }
.zsjmls07 .B_Demo h4 b { margin-right: 4px; float: right; width: 74px; text-align: center; height: 18px; background: #0377ba; color: #fff; font-size: 12px; line-height: 18px; border-radius: 6px 6px; font-weight: normal; margin-top: 3px; }
.zsjmls07 .B_Demo p { width: 190px; overflow: hidden; padding: 0 7px; font-size: 12px; color: #4d4d4d; line-height: 16px; }

.zsjmls08 { background: #252425; padding: 0 9px 3px; }
.zsjmls08 .zsjm_tit h4 { color: #fff; }
.zsjmls08 .zsjm_tit h5 { color: #fff; }
.zsjmls08 li { width: 100%; border-radius: 25px 25px; padding: 10px; padding-left: 0; display: table; background: #464445; margin-bottom: 10px; }
.zsjmls08 li span { float: left; width: 40px; border-radius: 25px 25px; height: 36px; background: #e81960; line-height: 36px; text-align: center; color: #fff; }
.zsjmls08 li .jmwen { display: table-cell; vertical-align: middle; }
.zsjmls08 li .jmwen p { padding-left: 10px; font-size: 14px; color: #fff; line-height: 16px; margin-bottom: 0; }
.zsjmls08 li:nth-child(1), .zsjmls08 li:nth-child(2), .zsjmls08 li:nth-child(3) { padding: 0; }

.zsjmls09 img { width: 100%; }

.zsjmls10 { background: url(../images/zsjm20.jpg) no-repeat left top; background-size: 100% 100%; padding: 0 24px 45px; }
.zsjmls10 .zsjm_tit h4 { color: #fff; }
.zsjmls10 .zsjm_tit h5 { color: #fff; }
.zsjmls10 .biaodan { padding-top: 25px; }
.zsjmls10 .biaodan .lput { width: 100%; height: 30px; margin-bottom: 8px; border-bottom: 1px solid #505d6a; color: #fff; font-size: 14px; }
.zsjmls10 .biaodan .lput input { width: 210px; height: 30px; border: 0; color: #fff; background: none; font-size: 14px; padding: 0; margin: 0; }
.zsjmls10 .biaodan .jly_ri { color: #fff; font-size: 14px; }
.zsjmls10 .biaodan .jly_ri span { padding-left: 9px; }
.zsjmls10 .biaodan .jly_ri textarea { color: #fff; background: none; font-size: 14px; border: 1px solid #8d9092; }

.lput { position: relative; padding-left: 10px; border-bottom: 1px solid #8d9092; color: #fff; }

.pa { position: absolute; width: 20px; height: 20px; right: 0; top: 6px; display: none; }

.dui { background: url(../images/yes.png) no-repeat; }

.cuo { background: url(../images/no.png) no-repeat; }

.jly_ri input { font-size: 12px; color: #fff; border-radius: 0; line-height: 26px; padding: 0; margin: 0; }
.jly_ri .chongz { width: 100px; background: none; border: 1px solid #fff; }
.jly_ri .yijia { width: 160px; float: right; }

.sanjito { width: 100%; height: 40px; line-height: 40px; font-size: 16px; background: #1c2123; border-bottom: 1px solid #0077b0; }
.sanjito a { color: #a9a9aa; padding: 0 6px; }
.sanjito .on { color: #fff; }

/*# sourceMappingURL=index.css.map */
